<form style="max-width: 400px;" [formGroup]="createPasswordForm" (ngSubmit)="onSubmit()" novalidate>
  <pm-custom-input label="Enter website:" type="text" placeholder="http://google.com" formControlName="website"></pm-custom-input>
  <pm-custom-input label="Enter username:" type="text" placeholder="ivan@doe.com" formControlName="username"></pm-custom-input>
  <pm-custom-input label="Enter password:" type="password" placeholder="****" formControlName="password"></pm-custom-input>

  <div class="buttons has-padding-top">
    <button type="submit" class="button is-primary">Save</button>
  </div>
</form>

<p has-padding-top>Form value: {{ createPasswordForm.value | json }}</p>
<p has-padding-top>Form isvalid: {{ createPasswordForm.valid }}</p>
