<form style="max-width: 400px;" [formGroup]="createPasswordForm" (ngSubmit)="onSubmit()" novalidate>
  <pm-custom-input
    pmFormErrors
    label="Enter website:"
    type="text"
    placeholder="http://google.com"
    formControlName="website"
  ></pm-custom-input>
  <pm-custom-input pmFormErrors label="Enter username:" type="text" placeholder="ivan@doe.com" formControlName="username"></pm-custom-input>
  <pm-custom-input pmFormErrors label="Enter password:" type="password" placeholder="****" formControlName="password"></pm-custom-input>

  <h4 class="title has-padding-top">Address List</h4>
  <div formArrayName="address">
    <div *ngFor="let addressGroup of addressArrayControl.controls; let i = index">
      <div [formGroup]="addressGroup">
        <pm-custom-input
          pmFormErrors
          placeholder="Address"
          (keydown.enter)="addAddress()"
          [hasIcon]="true"
          formControlName="text"
          label="Address {{ i + 1 }}"
        >
          <span class="buttons is-right tag-buttons">
            <button tabindex="-1" (click)="addAddress()" type="button" class="button is-primary">
              <i class="fas fa-plus"></i>
            </button>
            <button tabindex="-1" *ngIf="isFirst(i)" (click)="removeAddress(i)" type="button" class="button is-danger">
              <i class="fas fa-minus"></i>
            </button>
          </span>
        </pm-custom-input>
      </div>
    </div>

  </div>
  <div class="buttons has-padding-top">
    <button type="submit" class="button is-primary">Save</button>
  </div>
</form>

<p has-padding-top>Form value: {{ createPasswordForm.value | json }}</p>
<p has-padding-top>Form isvalid: {{ createPasswordForm.valid }}</p>
