<div class="columns is-mobile has-background-grey-dark has-text-light">
  <div class="column is-one-quarter">
    <a class="link" [href]="password?.website" target="_blank"> {{ password?.website }}</a>
  </div>
  <div class="column is-one-quarter">
    {{ password?.username }}
  </div>
  <div class="column is-one-quarter">
    <input
      class="input has-background-grey-dark has-text-light"
      [type]="isPasswordVisible ? 'text' : 'password'"
      readonly
      [value]="password?.password"
    />
  </div>
  <div class="column is-one-quarter">
    <p class="buttons">
      <button (click)="toggleVisibility()" class="button is-small">
        <span class="icon is-small" *ngIf="!isPasswordVisible; else notVisible">
          <i class="fas fa-eye"></i>
        </span>
        <ng-template #notVisible>
          <span class="icon is-small">
            <i class="fas fa-eye-slash"></i>
          </span>
        </ng-template>
      </button>
      <a [routerLink]="['/passwords', password.id]"  class="button is-small">
        <span class="icon">
          <i class="fas fa-pen"></i>
        </span>
      </a>
      <button class="button is-small">
        <span class="icon is-small">
          <i class="fas fa-trash has-text-danger"></i>
        </span>
      </button>
    </p>
  </div>
</div>
