<div class="hero-body">
  <div class="container has-text-centered">
    <div class="columns is-vcentered">
      <div class="column is-5">
        <figure class="image is-4by3">
          <img class="hero-img" src="assets/images/hero.jpg" alt="Description" />
        </figure>
      </div>
      <div class="column is-6 is-offset-1">
        <h1 class="title is-2">
          Password manager for you
        </h1>
        <h2 class="subtitle is-4">
          Magically save your passwords
        </h2>
        <br />
        <p class="has-text-centered">
          <a [routerLink]="['/auth/sign-up']"  class="button is-medium is-info is-outlined">
            Register
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
