/* You can add global styles to this file, and also import other style files */
html,
body {
  min-height: 100%;
  height: 100%;
}

.has-table-bg {
  background-color: #efefef;
}

.is-dark {
  .has-table-bg {
    background-color: #28292c;
    color: white;
  }
}

.has-padding-top {
  padding-top: 20px;
}
